<div class="card mb-3">
  <div class="card-body">
    <%= form_with model: list, url: lists_path, class: "row g-2 align-items-end" do |f| %>
      <div class="col">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, placeholder: "New list name", class: "form-control", autofocus: true %>
        <% if list.errors[:name].any? %>
          <div class="text-danger small mt-1"><%= list.errors[:name].first %></div>
        <% end %>
      </div>
      <div class="col-auto">
        <%= f.label :color, class: "form-label" %>
        <%= f.color_field :color, class: "form-control form-control-color", value: (list.color.presence || "#4f6ef7") %>
      </div>
      <div class="col-auto">
        <label class="form-label d-block">&nbsp;</label>
        <button class="btn btn-primary">Add</button>
      </div>
    <% end %>
  </div>
</div>

<div id="lists-grid"
     class="row g-3"
     data-controller="sortable"
     data-sortable-url-value="<%= reorder_lists_path %>">
  <% lists.each do |l| %>
    <div class="col-md-4" data-id="<%= l.id %>">
      <%= render "card", list: l %>
    </div>
  <% end %>
</div>
